html {
	background-color: #F0F0F0;
	font-family: Helvetica, Arial, sans-serif;
	color: #000;
}

h1 {
	font-size: 30px;
	margin: 0 0 10px;
}

h2 {
	font-weight: bolder;
	color: #FFF;
	font-size: 24px;
}

img#loading-wheel {
	display: none;
    -webkit-animation-name: rotate; 
    -webkit-animation-duration: 2s; 
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -moz-animation-name: rotate; 
    -moz-animation-duration: 2s; 
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: linear;
}
@-webkit-keyframes rotate {
    from {-webkit-transform: rotate(0deg);}
    to {-webkit-transform: rotate(360deg);}
}

@-moz-keyframes rotate {
    from {-moz-transform: rotate(0deg);}
    to {-moz-transform: rotate(360deg);}
}

#main {
	position: relative;
	width: 50%;
	min-height: 150px;
	height: auto;
	text-align: center;
	margin: 200px auto 0;
	padding: 25px;
	flex-direction: column;
	-webkit-justify-content : center;
	-webkit-flex-direction: column;
    justify-content: center;
    flex-direction: column;
	display: -webkit-flex;
	display: flex;
    background-color: #FFF;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2)5
}

.logs {
	font-size: 15px;
	font-style: italic;
}

#summary, .logs {
	margin: 10px auto 0;
	background: #FAFAFA;
    padding: 10px;
    width: 90%;
}

#reponse-ok {
	width: 90%;
    padding: 10px;
    margin: 10px auto 0;
    background-color: #49B600;
}

#reponse-bad {
	font-weight: bolder;
	color: red;
	font-size: 24px;
	background-color: #F44336;
}

button {
	display: block;
	width: 60%;
	height: 40px;
	background-color: #2FDFD4;
	border: none;
	border-radius: 3px;
	margin: 10px auto 0;
	font-size: 17px;
}

button:hover {
	background-color: #00C1CA;
	cursor: pointer;

}

@media only screen and (max-device-width: 600px) {
	#main {
		width: 70%;
		margin-top: 50px;
		padding: 20px;
	}
}